body {
	font-family: agency-fb, garamond, Arial, Sans-Serif;
}
.navbar {
	background-color: #fff;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #fff;
}
.navbar-inverse {
	border-color: #fff;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}
#myTab {
	border-color: #fff;
	padding-top: 2em;
}
.navbar-inverse .navbar-toggle:hover {
	background-color: #fff;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #000;
}

#myTab li a {
	font-size: 2em;
	color: #000;
	transition: all 0.45s;
	border-color: #fff;
}
#myTab li a:hover {
	background-color: #fff;
	color: #42f4c2;
	transition: all 0.45s;
	border-color: #fff;
	border-bottom-color: #42f4c2;

}
.jumbotron {
	background-color: #fff;
	text-align: center;
}
.jumbotron p {
	font-style: italic;
}
