/*
 * Global add-ons
 */
 body {
  font-family: agency-fb, garamond, Arial, Sans-Serif;
  min-width: 400px;
  background: url(../Images/coffeeshop1.jpg);
  background-size: auto 200%;
  background-repeat: no-repeat;
}
.container {
	background-color: #F5DEB3;
	width: 85%;
	text-align:center;
	border-radius: 25px;
	border: 2px solid #000;
}
/*
 * Main content
 */
.main {
  padding: 2em;
}
@media (min-width: 768px) {
  .main {
    padding-right: 2.5em;
    padding-left: 2.5em;
  }
}
.main .page-header {
  margin-top: 0;
}
.col-md-offset-2 {
	margin-right:7.5%;
    margin-left: 7.5%;
}
#title {
	text-align: center;
	font-size: 7em;
}
#header_logo_column {
	padding-right: 0;
	padding-left: 10px;
	width: 32%;
}
.address_tab {
	text-align: center;
	border-radius: 25px;
	border: 2px solid #000;
	margin-left: auto;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-right: auto;
	width: 18em;
	background-color: #e0caa1;
}
.address_tab h4 {
	margin: 1em;
}
footer {
	border-radius: 25px;
	border: 2px solid #000;
	text-align: center;
	width: 100%;
	height: 20%;
	background-color: #F5DEB3;
}
footer h4 {
	display: inline-block;
}
p {
	font-weight:bold;
}
.jumbotron {
	border-radius: 25px;
	border: 2px solid #000;
	color: #000;
	text-align: center;
	background-color: #e0caa1;
	padding: 0.8em;
}
.jumbotron p {
	font-style: italic;
}
.header_container {
	width: 50%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}
#menu {
	text-align: center;
}
.menu_title {
	font-size: 3em;
	font-weight: normal;
}
.description {
	font-size: 1.5em;
	font-weight: normal;
	font-style: italic;
}
.menu_column {
	border-radius: 25px;
	border: 2px solid #000;
	background-color: #F5DEB3;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
	width: 70%;
	max-width: 70%;
}
/*
 * Images
 */
.placeholders {
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 1em;
}
.placeholder img {
  margin: 1em;
  display: inline-block;
  border-radius: 50%;
}
.img-responsive {
	width: 18em;
	height: auto;
}
#wifi {
	width: 6em;
	height: auto;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	display:inline;
    max-width: 100%;
    height: auto;
}
#header_logo {
	width: auto;
	height: auto;
	max-height: 80px;
	margin: 0;
	vertical-align: middle;
	transform: translate(0%, 10%);
	overflow: hidden;
}
#page_logo {
	width: auto;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
}
/*
 * Navbar
 */
 #button {
	float: none;
	transform: translate(30%, 25%);
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
}
.navbar {
	border-radius: 25px;
	border: 2px solid #000;
	background-color: #F5DEB3;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #F5DEB3;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #F5DEB3;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #F5DEB3;
}
.collapse .navbar-collapse {
	text-align: center;
}
#myNavbar {
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.navbar-header .row {
	display: inline-table;
	width: 100%;
}
#myTab {
	border-color: #fff;
	position:relative;
  	display: inline-block;  
  	list-style: none;
 	width:100%;
  	text-align: center;
  	margin: auto;
  	padding: 0;
  	overflow: hidden;
}
.navbar-inverse .navbar-toggle:hover {
	background-color: #F5DEB3;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #000;
}
#myTab li {
	border-radius: 25px;
	border: 1px solid transparent;
	margin-bottom: 5px;
}
#myTab li:hover {
	transition: all 0.45s;
	border-radius: 25px;
	border: 1px solid #000;
	background-color: #e0caa1;
}
#myTab div {
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	list-style: none;
	font-size: 2em;
	color: #000;
	transition: all 0.45s;
	border-color: #fff;
}
#jobs_container_description {
	max-width: 80%;
	width: 80%;
}
#main_content_form {
	background-color: #e0caa1;
	max-width: 70%;
	width: 70%;
}
#form_title {
	max-width: 100%;
}
.job-group {
	display: inline;
	vertical-align: middle;
	width: 400px;
}
#tickboxes {
	text-align: left;
}
#hashstring {
	text-align: center;
}
.radio-label {
	transform: translate(-15%, 17%);
}
.job-group label{
	padding: 0px;
	margin: 0px;
}
.dropdown{
	min-height: 30px;
}
#comment_label {
	margin-right: 60%;
}
#comment {
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
}
.btn {
	font-size: 15px;
	font-weight: bold;
	width: 20%;
	margin: 1em;
}
#mobile-title {
	font-size: 3.1em;
	width: 150px;
	margin: 0 auto 0 auto;
	text-align: center;
}
#mobile_title_column {
	vertical-align: middle;
	padding-left: 0;
	padding-right: 0;
}
#henry_link {
	color: #000;
	text-decoration: none;
}
#henry_link:hover {
	transition: all 0.45s;
	color: #af9d7b;
}
#jeff_link {
	color: #000;
	text-decoration: none;
}
#jeff_link:hover {
	transition: all 0.45s;
	color: #af9d7b;
}