


/*
 * Global add-ons
 */
 
 body {
  margin: auto;
  font-family: agency-fb, garamond, Arial, Sans-Serif;
  background: url(../Images/coffeeshop1.jpg);
  background-size: auto 200%;
  background-repeat: no-repeat;
  min-width:400px;
}

.container {
	background-color: #F5DEB3;
	width: 80%;
	text-align:center;
	border-radius: 25px;
	border: 2px solid #000;
}



/*
 * Main content
 */

.main {
  padding: 2em;
}

@media (min-width: 768px) {
  .main {
    padding-right: 2.5em;
    padding-left: 2.5em;
  }
}
.main .page-header {
  margin-top: 0;
}

.col-md-offset-2 {
	margin-right:5%;
    margin-left: 5%;
}

#title {
	margin-top: 0px;
	text-align: center;
	font-size: 7em;
}

.address_tab {
	border-radius: 25px;
	border: 2px solid #000;
	margin-left: auto;
	margin-right: 0;
	width: 15em;
	background-color: #F5DEB3;
	align-content: right;
}
.address_tab h4 {
	margin: 1em;
}
footer {
	border-radius: 25px;
	border: 2px solid #000;
	text-align: center;
	width: 100%;
	height: 20%;
	background-color: #d39876;
}


/*
 * Images
 */

.placeholders {
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 1em;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

#header_logo {
	width: auto;
	height: 80px;
	margin: 0;
	vertical-align: middle;
	transform: translate(20%, 10%);
}

#page_logo {
	width: auto;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
}

/*
 * Navbar
 */

 #button {
	float: none;
	transform: translate(30%, 25%);
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
}
 
.navbar {
	border-radius: 25px;
	border: 2px solid #000;
	background-color: #F5DEB3;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #F5DEB3;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #F5DEB3;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #F5DEB3;
}

#myNavbar {
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.navbar-header .row {
	display: inline-table;
	width: 100%;
}

#myTab {
	border-color: #fff;
	position:relative;
  	display: inline-block;  
  	list-style: none;
 	width:100%;
  	text-align: center;
  	margin: auto;
  	padding: 0;
  	overflow: hidden;
}

.navbar-inverse .navbar-toggle:hover {
	background-color: #F5DEB3;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #000;
}

#myTab div {
	border: 1px solid transparent;
	margin-bottom: 5px;
}
#myTab div:hover {
	border: 1px solid #000;
}
#myTab div li {
	padding-top: 2%;
	padding-bottom: 2%;
	display: inline-block;
	text-align: center;
	list-style: none;
	font-size: 16px;
}

#myTab div li a {
	text-align: center;
	text-decoration: none;
	display: inline-block;
	list-style: none;
	font-size: 2em;
	color: #000;
	transition: all 0.45s;
	border-color: #fff;
}

#myTab div li a:hover {
	background-color: #F5DEB3;
	transition: all 0.45s;
	border-color: #fff;
}

#mobile-title {
	font-size: 3.1em;
	width: 150px;
	margin: 0 auto 0 auto;
	text-align: center;
}
#mobile_title_column {
	vertical-align: middle;
}
